<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroRecon</title>
</head>
<body>
    Links:
    Users List http://localhost:8000/api/users/<br />
    Users Detail http://localhost:8000/api/users/2<br />
    Questions List http://localhost:8000/api/questions/<br />
    Questions Detail http://localhost:8000/api/questions/1<br />
    Answers List http://localhost:8000/api/answers/<br />
    Answers Detail http://localhost:8000/api/answers/1<br />
    Comments List http://localhost:8000/api/comments/<br/>
    Comments Detail http://localhost:8000/api/comments/1<br/>
    recommender http://localhost:8000/api/recommend/<br/>

</body>
</html>